/* .App {
  display: flex;
  background-color: #ececec;
  height: 100vh;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  color: #000000;
  align-items: center;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  color: #000000;
  margin: 0;
  padding: 0;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 14em;
}
.main-wrapper {
  background-color: #ffffff;
}

h1 {
  text-align: center;
}

.main-wrapper input:not(.checkbox-style input) {
  border: 1px solid #ececec;
  padding: 1em;
  width: -webkit-fill-available;
}

button {
  padding: 1em;
  color: #ffffff;
  width: 91%;
  background-color: rgb(12, 82, 12);
  border: none;
}

label {
  text-align: left;
}

.checkbox-style {
  display: flex;
}

.checkbox-style input {
  align-self: center;
}

.second-element h4 span {
  font-weight: 400;
} */

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  color: #000000;
  margin: 0;
  padding: 0;
}

.App {
  background-color: #ececec;
  display: flex;
  height: 100vh;
}
